.grid_16 {
  background-color: #c3e3ff !important;
  padding: 1em;
}

p, li {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Farro', serif;
}
#basic-info {
  background-color: white !important;
}

#skills-list {
  padding-left: 0;
  li {
    list-style-type: none;
    padding: 0.5em;
    background-color: aliceblue;
    margin-bottom: 0.5em;
    filter: drop-shadow(1px 1px 1px #ccc);  
  }
  li:hover {
    background-color: #4a54ec;
    color: white;
    filter: drop-shadow(2px 2px 2px #ccc);
  }
}

.work-experience-entry {
  background-color: aliceblue;
  filter: drop-shadow(1px 1px 1px #ccc);  
}

.experience-header {
  line-height: 0.6em;
  padding: 0.3em 1em;
  background-color: #4a54ec;
  color: #eee;
}

.experience-responsibilities {
  line-height: 1.5em;
  padding-bottom: 1em;
}

.education-entry {
  background-color: aliceblue;
  filter: drop-shadow(1px 1px 1px #ccc);  
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  h4 {
    padding: 0.8em 1em;
    margin: 0;
    background-color: #4a54ec;
    color: #eee;
  }
  p {
    padding-left: 0.75em;
  }
}
